{{ $is_home := .IsHome }}
{{ $description := .Params.description | default .Site.Params.description }}
<header class="site-top {{ if $is_home }}site-top--home{{ else }}site-top--section{{ end }}">
  <div class="site-top__backdrop">
    {{ partials.Include "site-navigation.html" . }}
    {{ if not $is_home }}
      <div class="site-top__intro">
        <h1 class="site-top__title">
          {{ .Title | compare.Default .Site.Title }}
        </h1>
        {{ with $description }}
          <p class="site-top__description">
            {{ . }}
          </p>
        {{ end }}
      </div>
    {{ end }}
  </div>
</header>
